In [58]:
import pandas as pd

In [59]:
path = "tests/data/regression_multimolecule.csv"

In [64]:
df = pd.read_fwf(path, header=None)
df = df[0].str.split(',', expand=True)
df.tail()

,0,1,2,3
496,CCC(=O)c1ccc2cc(N(C)C)ccc2c1,Clc1ccccc1,254.0,None
497,O=Cc1cc(O)c(C=O)cc1O,CN(C)P(=O)(N(C)C)N(C)C,427.0,None
498,Cc1ccc(C2=C3C=c4c(oc5ccccc45)=[N+]3[B-](F)(F)n...,CC#N,578.0,None
499,Cc1ccc(-c2nc(-c3cc([N+](=O)[O-])ccc3O)[nH]c2-c...,CO,284.0,None
500,CCc1ccc(-c2nc(-c3ccc(-n4c5ccccc5c5ccccc54)cc3)...,C1CCOC1,343.0,12

In [66]:
type(list(df.columns)[0])

int

In [ ]:
scols = [0,1]
tcols = [2]

In [52]:
df = pd.read_csv(path, names=scols+tcols)
df

                                                   0          1      2
0                                             smiles    solvent    NaN
1  CCCCN1C(=O)C(=C/C=C/C=C/C=C2N(CCCC)c3ccccc3N2C...      ClCCl    NaN
2  C(=C/c1cnccn1)\c1ccc(N(c2ccccc2)c2ccc(/C=C/c3c...      ClCCl  420.0
3  CN(C)c1ccc2c(-c3ccc(N)cc3C(=O)[O-])c3ccc(=[N+]...          O  544.0
4                                   c1ccc2[nH]ccc2c1          O  290.0
5  CCN(CC)c1ccc2c(c1)OC1=C(/C=C/C3=[N+](C)c4ccc5c...  ClC(Cl)Cl  736.0

In [53]:
list(df.columns)

[0, 1, 2]

In [54]:
smiss = []
raw_targetss = []

In [55]:
for i, row in df.iterrows():
    smis = [row[j] for j in scols]
    targets = [row[j] for j in tcols]
    smiss.append(smis)
    raw_targetss.append(targets)

In [56]:
raw_targetss

[[nan], [nan], [420.0], [544.0], [290.0], [736.0]]

In [57]:
smiss

[['smiles', 'solvent'],
 ['CCCCN1C(=O)C(=C/C=C/C=C/C=C2N(CCCC)c3ccccc3N2CCCC)C(=O)N(CCCC)C1=S',
  'ClCCl'],
 ['C(=C/c1cnccn1)\\c1ccc(N(c2ccccc2)c2ccc(/C=C/c3cnccn3)cc2)cc1', 'ClCCl'],
 ['CN(C)c1ccc2c(-c3ccc(N)cc3C(=O)[O-])c3ccc(=[N+](C)C)cc-3oc2c1', 'O'],
 ['c1ccc2[nH]ccc2c1', 'O'],
 ['CCN(CC)c1ccc2c(c1)OC1=C(/C=C/C3=[N+](C)c4ccc5ccccc5c4C3(C)C)CCCC1=C2c1ccccc1C(=O)O',
  'ClC(Cl)Cl']]